.img-news {
    width: 200px;
    border-radius: 8px;
    margin-right: 10px;
}

.news-group {
    display: flex;

}

.news-group a {
    text-decoration: none;
    color: #777;
}

.news-group:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-news {
    text-align: justify;
    font-size: 15px;
}

.author-news {
    font-size: 15px;
    color: #777;
}

.news-group h4,
.new-suggest h4 {
    color: #333;
    font-weight: 700;
}

.line-news {
    margin-top: 5px;
    margin-bottom: 20px;
}

.news-link {
    cursor: pointer;

}
